{% load cms_tags sekizai_tags i18n %}
<html>
  <head>
      {% render_block "css" %}
  </head>
  <body>
      {% cms_toolbar %}
      {% placeholder body %}

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      {% render_block "js" %}

      <small>2014 &copy; {% trans "Copyright by me" %}</small>
  </body>
</html>